VITE_FIREBASE_API_KEY=AIzaSyD4QfKvgWe5V-VeuwsFtYV-jC-TOKmFsUI
VITE_FIREBASE_AUTH_DOMAIN=shopcod-auth-20260304.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=shopcod-auth-20260304
VITE_FIREBASE_STORAGE_BUCKET=shopcod-auth-20260304.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=695463841155
VITE_FIREBASE_APP_ID=1:695463841155:web:6c44f61d22c6b594a93ab6
